<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ page_title | escape }}{% if current_tags %} – {% endif %}{% if current_tags %}{{ current_tags | join: ', ' | escape }}{% endif %}{% unless page_title contains shop.name %} – {{ shop.name | escape }}{% endunless %}</title>
    {{ content_for_header }}
  </head>
  <body>
    {{ content_for_layout }}
  </body>
</html>